# Don't commit config files, except example files.
/config/*
!/config/*example*

# Don't commit integration files, except the example integration.
/integrations/*
!/integrations/_example/*

# Don't commit log files.
*/log/*
